[Unit]
Description=Mount {{ item.value.target }} directory with permission
After=syncthing@root.service

[Mount]
What={{ item.value.path }}
Where={{ item.value.target }}
Type=fuse.bindfs
Options=force-user={{ item.value.owner }},force-group={{ item.value.group }},perms=0644:ugo+D

[Install]
WantedBy=multi-user.target